<% include ../header.ejs %>

    <div id="busca" class="caixa container-fluid">
        <div class="row txt-center">
            <div class="col-12">
                <h3>Busca ponto a ponto</h3>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-2"></div>
            <div class="col-4">
                <span class="fa fa-empire pointer" onclick="alterarNomeCampoDefinirPonto( '#busca_de' )"></span>
                <label>Ponto inicial:</label>
                <input type="text" class="form-control text-uppercase" placeholder="Ponto inicial" name="busca_de" id="busca_de" required>
            </div>
            <div class="col-4">
                <span class="fa fa-rebel pointer" onclick="alterarNomeCampoDefinirPonto( '#busca_para' )"></span>
                <label>Ponto final:</label>
                <input type="text" class="form-control text-uppercase" placeholder="Ponto final" name="busca_para" id="busca_para">
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
        	<div class="col-2"></div>
        	<div class="col-8 txt-center">
        		<small>Dica: Clique nos ícones <small class="fa fa-empire"></small> ou <small class="fa fa-rebel"></small> para definir o ponto inicial e final.</small>
        	</div>
        	<div class="col-2"></div>
        </div>
        <div class="row">
        	<div class="col-2"></div>
            <div class="col-8 txt-center">
            	<button class="btn btn-primary" onclick="buscarPontoAPonto()">Traçar Rota</button>
                <button class="btn btn-warning" onclick="limparBusca()">Limpar Campos</button>
                <button class="btn btn-danger" onclick="limparMapa()">Limpar Rotas</button>
            </div>
            <div class="col-2"></div>
        </div>
        <% include ../legenda.ejs %>
    </div>

	<% include renderizarMapa.ejs %>

	<script>
		function limparBusca() {
			removerAviso();
			document.querySelector('input[name=busca_para]').value = '';
			document.querySelector('input[name=busca_de]').value = '';
		}

		function limparBuscaPessoa() {
			removerAviso();
			document.querySelector('input[name=busca_pessoa_ponto_inicial]').value = '';
			document.querySelector('select[name=busca_pessoa]').value = '';
			$('#busca_pessoa').trigger('chosen:updated');
		}

		function buscarPontoAPonto() {
			removerAviso();
			limparMapa();
			$.ajax({
			    type: 'GET',
			    url: '/mapa/tracarRotaPontoAPonto',
			    data: {
			    	pontoInicial: $('#busca_de').val().toUpperCase(),
			    	pontoFinal: $('#busca_para').val().toUpperCase(),
			    	tipoPI: $('#busca_de').val().indexOf('_') == -1 ? 'Interseccao' : 'Tumulo',
			    	tipoPF: $('#busca_para').val().indexOf('_') == -1 ? 'Interseccao' : 'Tumulo'
			    },
			    dataType: 'json',
			    success: function (retorno) {
			    	try {
		            	tracarRota( retorno );
		            } catch(e) {
		            	adicionarAviso('danger', 'Pontos não encontrados ou inválidos');
		            }
			    }
			});
		}

	</script>

<% include ../footer.ejs %>