<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
        <title>Controle de Salas</title>
		<!--Estilos-->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/chosen.min.css">
        <link rel="stylesheet" type="text/css" href="css/estilo.css">
	</head>
	<body>
		<div class="container-fluid">
			<!-- <div class="row">
				<div class="col-12 txt-center">
					<img class="logo" src="img/logo.svg" alt="ControledeSalas" />
				</div>
			</div> -->
			<div class="row">
				<div class="col-12 txt-center">
					<form action="/usuario" id="formLogin" method="POST">
						<div class="row">
							<div class="col-sm-4 txt-right">Usuário:</div>
							<div class="col-sm-6 txt-right">
								<input type="text" id="inputUsuario" name="usuario">
							</div>
							<div class="col-sm-2"></div>
						</div>
						<div class="row">
							<div class="col-sm-4 txt-right">Senha:</div>
							<div class="col-sm-6 txt-right">
								<input type="password" id="inputSenha" name="senha">
							</div>
							<div class="col-sm-2"></div>
						</div>
						<div class="row">
							<input class="btn btn-success" type="submit" value="Logar">
						</div>
					</form>
				</div>
			</div>
		</div>


		
		
		<!--Scripts-->
		<script type="text/javascript" src="plugins/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="plugins/tether.min.js"></script>
		<script type="text/javascript" src="plugins/bootstrap.min.js"></script> <!-- Versão 4.0.0 alpha 6-->
		<script type="text/javascript" src="plugins/chosen.jquery.min.js"></script>
		<script type="text/javascript" src="plugins/funcoes.js"></script>
	</body>
</html>